.home {
    background-color: #F3F4F5;
    padding-top: 7rem;
}

.img-fluid {
    height: 100%;
    width: 22%;
} 

.Profile {
    background-color: #212529;
    color:white;
    padding-top: 6rem;
}

.Education {
    background-color: #F3F4F5;
    padding-top: 5.7rem;
}

.Experience {
    background-color: #212529;
    color:white;
    padding-top: 6rem;
}

.Licences {
    background-color: #F3F4F5;
    padding-top: 5rem;
}

.Project {
    background-color: #212529;
    color:white;
    padding-top: 5rem;
}

.card {
    color:#212529;
}

.Contact {
    background-color: #F3F4F5;
    color:#212529;
    padding-top: 2.7rem;
    padding-bottom: 5rem;
}


footer {
    background-color: #F3F4F5;
    color: #212529;
}

.list-group {
    background-color: #212529;
}

