.home {
    background-color: #F3F4F5;
    padding-top: 5rem;
}

.img-fluid {
    height: 100%;
    width: 22%;
} 

.Profile {
    background-color: #212529;
    color:white;
    padding-top: 2rem;
}


.Project {
    background-color: #F3F4F5;
    padding-top: 3rem;
}

.Contact {
    background-color: #212529;
    color:white;
    padding-top: 3rem;
    padding-bottom: 5rem;
}


footer {
    background-color: #212529;
    color: white;
}

.list-group {
    background-color: #212529;
}

